// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.confirm{
  padding-top: 100px;
  padding-bottom: 100px;
}

.confirm-text{
  padding-top: 20px;
  padding-bottom: 20px;
}