// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.nagano_cake_1{
  background-image: image-url("nagano_cake_1.jpg");
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

p {
  color: red;
}