<!--<div>genre sarch</div>-->
<h1>顧客TOPページ</h1>
<div>
  <div class="nagano_cake_2">
    <p>
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできませんが、<br>
      購入には会員登録が必要になります。
    </p>
  </div>
  <div>
    <h2>新着商品</h2>
    <% @items.each do %>
  </div>
  <%#= link_to "全ての商品を見る", public_ %>
</div>
