<div>
  <h1>商品一覧</h1>
  <p>全<%#= カウント%>件</p>
</div>
<% @items.each do |item| %>
  <div><%= image_tag item.get_image, size: "200x200" %></div>
  <div><%= link_to item.name, item_path(item.id) %></div>
  <div>￥<%= item.price %></div>
<% end %>